#a{
	text-align:center;
}
a:link {
	color:red;
	text-decoration:none;
}
a:visited {
	color:red;
	text-decoration:none;
}
a:hover {
	color:blue;
	text-decoration:none;
}
a:active {
	color:green;
	text-decoration:none;
	}

h2{
	fontcolor:black;
	text-align:center;
}

#login{
	margin: auto;
}	

#reg{
	margin: auto;
}

hr{ 
	height:3px;
	border:none;
	border-top:3px double red;
}