body {
    background-color: #272727;
    margin:0px;
    padding:0px;
    font: 10px  verdana, arial, helvetica;
    color: #FFFFFF;
}

#main_container{
    width:1284px;
    height:auto;
    margin:auto;
    background-color:#272727;
}

#header{
    width:1284px;
    height:108px;
    margin:auto;
}

#logo{
    padding:15px 0 0 30px;
    float:left;
}

#menu{
    width:1246px;
    height:36px;
    padding:0px;
    clear:both;
    background-color:#000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#menu ul{
    list-style:none;padding:0 0 0 10px;margin: auto;display:block;
}
#menu ul li{
    list-style:none;display:inline;float:left;width:auto;height:36px;padding:0 0 0 10px;line-height:36px; font-family:Arial, Helvetica, sans-serif; font-size:13px;
}
#menu ul li a{
    height:36px; width: auto;float:left;text-decoration:none;padding:0 0 0 10px; margin:0px 3px 0px 3px;color:#fff;text-align:center;
}
#menu ul li a:hover{
    height:36px;width: auto;text-decoration:none;color: #009FCC;padding:0 0 0 10px;
}
#menu ul li a.current{
    height:36px;width: auto;float:left;text-decoration:none;padding:0 0 0 10px;color:#009FCC ;
}